<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.wolfcode.crm.mapper.FormsMapper" >
<!-- 销售报表 -->
    <sql id="base_where">
        <where>
            and cl.status = 1
            <if test="beginDate!=null">
                and ip.beginDate &gt;=#{beginDate}
            </if>
            <if test="endDate!=null">
                and ip.endDate &lt;=#{endDate}
            </if>
        </where>
    </sql>

    <select id="saleChart" resultType="hashmap">
        SELECT ${groupType} groupType,COUNT(cl.status) totalCount,
        cl.name
        FROM report ip LEFT JOIN client cl on ip.client_id = cl.id
        <include refid="base_where"/>
        GROUP BY groupType
    </select>
</mapper>